################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebBanThietBiAmThanh/.vs
/WebBanThietBiAmThanh/WebBanThietBiAmThanh/bin/Debug/net5.0
/.vs
/WebBanThietBiAmThanh/WebBanThietBiAmThanh/obj
