
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('/assets/images/applications-hero-home-studio.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Thanh Toán</span></p>
                <h1 class="mb-0 bread">Thanh Toán Xong</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Cảm ơn đã đặt hàng!!</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Cảm ơn bạn đã sử dụng dịch vụ mua hàng của chúng tôi!! Đơn hàng của bạn sẽ được xử lí nhanh nhất!.
                    
                    <p><a href="/shop.html" class="btn btn-primary">Tiếp tục mua hàng</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

