@model WebBanThietBiAmThanh.ModelViews.MuaHangVM
@{
    ViewData["Title"] = "Mua Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WebBanThietBiAmThanh.ModelViews.CartItem> Carts = ViewBag.GioHang;

}


<div class="hero-wrap hero-bread" style="background-image: url('/assets/images/applications-hero-home-studio.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Thanh Toán</span></p>
                <h1 class="mb-0 bread">Thanh Toán</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                <form asp-controller="Checkout" asp-action="Index" method="post" class="billing-form">
                <input  hidden asp-for="CustomerId" />
                    <h3 class="mb-4 billing-heading">Thông Tin Đơn Hàng</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Họ Tên</label>
                                <input  required asp-for="FullName" type="text" class="form-control" placeholder="Họ Tên">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Số điện thoại</label>
                                <input required type="tel" asp-for="Phone" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Email</label>
                                <div class="select-wrap">
                                    <input required type="email" asp-for="Email" class="country form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Địa Chỉ</label>
                                <div class="select-wrap">
                                    <input required type="text" asp-for="Address" class="country form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="note">Lời nhắn</label>
                                <textarea name="" id="note" cols="30" rows="7" class="form-control" placeholder="Lời nhắn"></textarea>
                            </div>
                        </div>


                    </div>
</form><!-- END -->
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Thành Tiền</h3>
                            <p class="d-flex">
                                <span>Danh Sách sản phẩm cần thanh toán</span>

                            </p>

                            @if (Carts.Count() > 0)
                            {
                                foreach (var item in Carts)
                                {
                                    <p class="d-flex">

                                        <span>@item.product.ProductName :</span>
                                        <span>@item.amount X @item.product.Price.Value.ToString("#,##0") VNĐ</span>
                                    </p>

                                }
                            }

                            <hr>
                            <p class="d-flex total-price">
                                <span>Tổng giá tiền</span>
                                <span>@Carts.Sum(x=>x.TotalMoney).ToString("#,##0")VNĐ</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Phướng Thức Thanh Toán</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Chuyển Khoản</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Thanh Toán Khi Nhận Hàng</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> MOMO</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    
                                </div>
                            </div>
                            <p><a href="checkout-success.html" class="btn btn-primary py-3 px-4">Thanh Toán</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>