@model List<WebBanThietBiAmThanh.ModelViews.CartItem>
@if (Model != null && Model.Count() > 0 )
{
    <li class="nav-item cta cta-colored"><a href="/cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[@Model.Count()]</a></li>
}
else
{
    <li class="nav-item cta cta-colored"><a href="/cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

}